.git
.env
data/raw/
data/*.csv
mlruns/
mlruns.db
__pycache__/
*.pyc
.venv/
venv/
dbt/datapulse/target/
dbt/datapulse/dbt_packages/
dbt/datapulse/logs/
airflow/logs/
infra/terraform/.terraform/
infra/terraform/*.tfstate
infra/terraform/*.tfstate.backup
infra/terraform/*.tfvars
