GCP_PROJECT_ID=your-gcp-project-id
GCS_BUCKET=datapulse-raw-your-gcp-project-id
GOOGLE_APPLICATION_CREDENTIALS=/opt/airflow/config/gcp-key.json

# Airflow
AIRFLOW_UID=50000
_AIRFLOW_WWW_USER_USERNAME=admin
_AIRFLOW_WWW_USER_PASSWORD=admin
